{{> nav/nav-block}}

<main>
   <div class="cake-page">
     <div class="cake-top-section">
       <div class="cake-title">
         <h2>{{selectedCake.name}}</h2>
       </div>
       <div class="cake-image"><img src="{{selectedCake.cakeimageUrl}}"></div>
     </div>
    <div class="cake-details">
      <div>
        <h3 class="user-profile-link">{{selectedCake.author}}</h3>
        {{!-- Need to get the username in the other table --}}
      </div>
      <div>

      </div>
    </div>
    <div class="cake-stats">
      <div class="cake-ingredients-container">{{selectedCake.ingredients}}</div>
      <div class="cake-instructions-container">{{selectedCake.instructions}}</div>
    </div>
    <div class="cake-comments">
      <div class="form-group">
            <label>Add a Comment: </label><br>
            <textarea class="form-control" id="cake-comment" rows="2"></textarea>
            <button type="submit" id="submit-comment" class="btn btn-primary">Submit</button>
          </div>
      {{#each comment}}
      <div class="comments">
        <ul>
          {{comments.body}}
        </ul>
      </div>
      {{else}}
      <div class="comments">
        <ul>
          <li>No comments available.</li>
        </ul>
      </div>
      {{/each}}
    </div>
   </div>
</main>