{{> nav/nav-block}}

<main>
    <div class="home-previews">
      <div class="cake-preview cakes">
        {{#each cakes}}
        <div class="cake-imgcontainer"><img src="{{this.cakeimageUrl}}"></div>
        <div class="cake-textcontainer">
          <p>{{this.name}}</p>
          <p>{{this.difficulty}}</p>
          <p>{{this.Likes}}</p>
        </div>
        {{else}}
        <div>
          <p>No cakes available</p>
        </div>
        {{/each}}
      </div>
    </div>
</main>
{{> modal/login-block}}
